

.form-control {
    border-color: transparent;
}

.input-group>.form-control:focus {
    border-color: transparent;
    box-shadow: inset 0 0 0 1px transparent;
}
.btn-link:hover {
    background-color: rgba(255,255,255,.35);
}
.btn-link:active, .btn-link.active {
    background-color: rgba(255,255,255,.35);
}
.btn-link:focus, .btn-link.focus {
    background-color: rgba(255,255,255,.35);
}
.btn-link:active:focus, .btn-link.active:focus {
    background-color: rgba(255,255,255,.35);
}
